:root {
  --cred-color: rgb(52, 96, 5);
  --debit-color: rgb(165, 44, 16);
}

.expense {
  background-color: rgb(0, 0, 0);
  color: var(--base-color);
  border-radius: 10px;
  padding: 15px 5%;
  margin: 20px auto;
  border: 1px solid white;
  min-width: 600px;
  max-width: 700px;
  text-align: left;
  font-size: larger;
}

.expense_cred {
  color: var(--cred-color);
  text-align: right;
  font-size: xx-large;
  font-weight: 800;
  font-style: italic;
  align-items: baseline;
  white-space: nowrap;
}

.expense_deb {
  color: var(--debit-color);
  text-align: right;
  font-size: xx-large;
  font-weight: 800;
  font-style: italic;
  align-items: baseline;
  white-space: nowrap;
}

.total_content {
  padding: 0.5rem 2rem;
  font-family: "Merriweather", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  gap: 100px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 10px;
}

.filter select {
  background-color: var(--contrast-color);
  border-radius: 10px;
  color: var(--base-color);
  border: 1px solid white;
  padding: 10px 20px;
  font-weight: bolder;
  font-size: large;
  font-family: "Lato";
  margin: 0;
}

.filter input {
  background-color: var(--contrast-color);
  border-radius: 10px;
  color: var(--base-color);
  border: 1px solid white;
  padding: 5px 20px;
  font-weight: bolder;
  font-size: large;
  font-family: "Lato";
  margin: 0;
}

.total_content input,
.filter input {
  background-color: rgb(251, 251, 196);
  border: 1px solid black;
  border-radius: 5px;
  font-size: large;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 175px;
  box-sizing: border-box;
  padding: 5px 20px;
}

.expense_list {
  flex: 1; /* takes remaining space inside the Card */
  overflow-y: auto; /* scrolls vertically */
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  margin: auto 60px;

  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.expense_list::-webkit-scrollbar {
  width: 8px;
}
.expense_list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.expense_list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden; /* prevents outer scrollbars */
}
