:root {
  --cred-color: rgb(52, 96, 5);
  --debit-color: rgb(165, 44, 16);
}

.expense {
  background-color: rgb(0, 0, 0);
  font-family: "Merriweather", serif;
  color: var(--base-color);
  border-radius: 10px;
  padding: 15px 15px;
  margin: 10px 0px;
  border: 1px solid white;
  min-width: 600px;
  max-width: 700px;
  text-align: left;
  font-size: larger;
}

.expense_cred {
  color: var(--cred-color);
  text-align: right;
  font-size: xx-large;
  font-weight: 800;
  font-style: italic;
  align-items: baseline;
  white-space: nowrap;
}

.expense_deb {
  color: var(--debit-color);
  text-align: right;
  font-size: xx-large;
  font-weight: 800;
  font-style: italic;
  align-items: baseline;
  white-space: nowrap;
}

.total_content {
  padding: 0.5rem 2rem;
  font-family: "Merriweather", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  gap: 100px;
}

.expense_list {
  /* flex: 1; */
  /* takes remaining space inside the Card */
  overflow-y: auto; /* scrolls vertically */
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  margin: auto 0px;
  scrollbar-width: thin;
  scrollbar-color: #888 var(--base-color);
}

.expense_list::-webkit-scrollbar {
  width: 8px;
}
.expense_list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.expense_list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  background-color: var(--base-color);
  max-height: 660px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
}

.nowrap_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
