:root {
  --base-color: rgb(253, 193, 81);
  --contrast-color: black;
}

.head_dark {
  background-color: var(--contrast-color);
  color: var(--base-color);
  min-width: 1000px;
}

.header {
  font-family: "Times New Roman", Times, serif;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  max-width: 1200px;
  margin: 0 auto;
}

.head_light {
  background-color: var(--base-color);
  color: var(--contrast-color);
}

.head_content {
  padding: 0.5rem 2rem;
  font-family: "Merriweather", serif;
  display: flex;
  justify-content: space-between;
  min-width: 1000px;
  max-width: 1200px;
  margin: 0 auto;
}

.head_content input {
  background-color: rgb(251, 251, 196);
  border: 1px solid black;
  border-radius: 10px;
  font-size: large;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 5px 20px;
  margin: 15px 0;
  min-width: 300px;
}

.body_content {
  padding: 2rem 0rem;
  font-family: "Merriweather", serif;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

.profile button {
  background-color: var(--contrast-color);
  border-radius: 10px;
  color: var(--base-color);
  border: 1px solid white;
  padding: 10px 15px;
  font-weight: bolder;
  font-size: large;
}

.profile button:hover {
  background-color: rgb(62, 62, 62);
}

.profile {
  min-width: 1000px;
  min-height: 100dvh;
  padding-bottom: 5%;
}
