:root {
  --base-color: rgb(253, 193, 81);
  --contrast-color: black;
  --light-color: rgb(255, 253, 221);
}

.head_dark {
  background-color: var(--contrast-color);
  color: var(--base-color);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 150px;
  display: flex;
  align-items: center;
  text-align: right;
}

.header {
  font-family: "Times New Roman", Times, serif;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

.head_light {
  background-color: var(--base-color);
  color: var(--contrast-color);
  position: fixed;
  top: 150px;
  left: 0;
  right: 0;
  z-index: 999;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 40px 2px;
}

.head_content {
  padding: 0.5rem 2rem;
  font-family: "Merriweather", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.head_content input {
  background-color: var(--light-color);
  border: 1px solid black;
  border-radius: 10px;
  font-size: large;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 20px;
  min-width: 300px;
}

.body_content {
  position: fixed;
  top: 220px;
  font-family: "Merriweather", serif;
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 2000px;
  padding: 2rem 0;
  box-sizing: border-box;
}

.body_content span {
  margin: 0px 15px;
}

.body_expense {
  position: fixed;
  top: 330px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 5%;
}

.profile button {
  background-color: var(--contrast-color);
  border-radius: 10px;
  color: var(--base-color);
  border: 1px solid white;
  padding: 10px 15px;
  font-weight: bolder;
  font-size: large;
}

.profile button:hover {
  background-color: rgb(62, 62, 62);
}
