:root {
  --cred-color: rgb(186, 230, 139);
  --debit-color: rgb(249, 171, 133);
}

.expense_cred {
  background-color: var(--cred-color);
  border-radius: 15px;
  padding: 15px 5%;
  margin: 20px auto;
  border: 1px solid black;
  max-width: 600px;
}

.expense_deb {
  background-color: var(--debit-color);
  border-radius: 15px;
  padding: 15px 5%;
  margin: 20px auto;
  border: 1px solid black;
  max-width: 600px;
}
